<div class="auth-card">


  @if (!registrationSuccessful) {

    <h2>Join the Nook</h2>

    <form
      class="auth-form"
      (ngSubmit)="register()">

      <input
        type="text"
        [(ngModel)]="registerRequest.displayName"
        name="displayName"
        placeholder="Display Name">

      <input
        type="email"
        [(ngModel)]="registerRequest.email"
        name="email"
        placeholder="Email">

      <input
        type="password"
        [(ngModel)]="registerRequest.password"
        name="password"
        placeholder="Password">

      <button type="submit">
        Register
      </button>

      @if (registrationFailed) {
        <div class="auth-error">
          Registration failed. Please try again.
        </div>
      }

    </form>

  } @else {

    <div class="auth-success-card">

      <h2>Registration Successful</h2>

      <p>
        You have registered successfully. Please log in.
      </p>

      <button
        type="button"
        (click)="goToLogin()">
        Log In
      </button>

    </div>

  }

</div>
